<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><br/><br/>
    <% if  user_signed_in? %>
    <%= "Hello #{current_user.username}" %>
    <%= link_to "Edit",   edit_user_registration_path %>
    <%= link_to "All Post", posts_path %>
    <%= link_to "New Post", new_post_path %><br/>
    <%= link_to "New Lecture", new_lecture_path %>
    <%= link_to "All Lectures", lectures_path %>
    <%= link_to "My Lecture", my_lectures_lectures_path %><br/>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                
    <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Sign In", new_user_session_path %>

        <% end %>
            

    <% flash.each do |type, msg| %>
       <div>
          <%= msg %>
       </div>
    <% end %>

    <%= yield %>
  </body>
</html>
